<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FastCampus Django</title>
  </head>
  <body>
    <h2>유저 리스트</h2>
    <h4>{%if msg%}{{msg}}{%endif%}</h4>
    <table>
      <thead>
        <th>유저이름</th>
        <th>이메일</th>
        <th>가입일</th>
        <th>페이플랜</th>
      </thead>
      {% for u in users %}
      <tr>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td>{{u.date_joined}}</td>
        <td>{{u.pay_plan.name}}</td>
      </tr>
      {% endfor %}
    </table>
    <nav>
        <ul>
            {% if users.has_previous %}                         
            <li>
                <a href="?p={{users.previous_page_number }}">이전으로</a>
            </li>
            {% else %}
            <li>
                <a href="#">이전으로</a>
            </li>
            {% endif %}
            <li>
                <a href="#">{{users.number}}/{{users.paginator.num_pages}}</a>
            </li>
            {% if users.has_next %}
            <li>
                <a href="?p={{users.next_page_number }}">다음으로</a>
            </li>
            {% else %}
            <li>
                <a href="#">다음으로</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <p>
      <a href="{% url 'index' %}">홈으로</a>
      <a href="{% url 'register' %}">회원가입</a>
    </p>
  </body>
</html>
