{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    <h2>유저 리스트</h2>
    <h4>{%if msg%}{{msg}}{%endif%}</h4>
    <table class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>유저이름</th>
        <th>이메일</th>
        <th>가입일</th>
        <th>페이플랜</th>
        <th>가격</th>
      </thead>
      {% for u in users %}
      <tr class={% cycle "table-dark" "" %}>
        <td>{{u.id}}</td>
        <td>{{u.username}}</td>
        <td>{{u.email|email_ma:u.id}}</td>
        <td>{{u.date_joined}}</td>
        <td>{{u.pay_plan.name}}</td>
        <td>{{u.pay_plan.price}}</td>
      </tr>
      {% endfor %}
    </table>


    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if users.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?p={{users.previous_page_number }}">이전으로</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#">이전으로</a>
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="?p={{users.number|add:1 }}">{{users.number}}/{{users.paginator.num_pages}}</a>
        </li>
        {% if users.has_next %}
        <li class="page-item">
          <a class="page-link" href="?p={{users.next_page_number }}">다음으로</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#">다음으로</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <p>
      <a href="{% url 'index' %}">홈으로</a>
      <a href="{% url 'register' %}">회원가입</a>
    </p>
    {% test_tags %}
    {% include "include_test.html" %}
{% endblock %}
