{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FastCampus Django</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
</head>
<body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{% static 'logo.png' %}" width="33">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#try_me" class="nav-link px-2 text-white">Try for Free</a></li>
          <li><a href="#pricing" class="nav-link px-2 text-white">Pricing</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'logo.png' %}" alt="" width="72">
    <h1 class="display-5 fw-bold">Fast Shrink Hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">빠르게 그리고 쉽게 URL을 줄여보세요. 단축 URL 생성, 만료, 삭제 등 관리를 자유롭게 할수 있습니다.<br> 오늘 무료로 시작하세요!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">로그인</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">테스트 하기</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="container py-3" id="try_me">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <div><h1 class="display-4 fw-normal">Try Me!</h1></div>
        <div><p class="fs-5 text-muted">1시간 동안 살아있는 단축 URL을 만들어 보세요! HTTP 상태코드 301 REDIRECT를 사용하여 검색엔진에서 검색이 되는 링크 입니다!</p></div>
      </div>
    </header>
    
    <main>
      <div class="d-flex justify-content-center  row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col ">
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Your Long URL">
              <button type="submit" class="btn btn-secondary">Shrink!</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
  <hr>
  <div class="container py-3" id="pricing">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
      </div>
    </header>
    
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm h-100">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">무료<small class="text-muted fw-light">/월</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>10명의 사용자</li>
                <li>무제한 단축 URL</li>
                <li>60일간 단축 URL 지속</li>
                <li>이메일 지원</li>
              </ul>
            </div>
            <div class="card-footer">
              <button type="button" class="w-100 mt-auto btn btn-lg btn-outline-primary">지금 시작하기</button>
            </div>

          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm h-100">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">₩5,500<small class="text-muted fw-light">/월</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>20명의 사용자</li>
                <li>무제한 단축 URL</li>
                <li>통계 데이터 센터</li>
                <li>영원히 단축 URL 지속</li>
                <li>이메일 지원</li>
              </ul>              
            </div>
            <div class="card-footer">
              <button type="button" class="w-100 btn btn-lg btn-primary">7일 무료!</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary h-100">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Enterprise</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">₩12,900<small class="text-muted fw-light">/월</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>사용자 수 무제한</li>
                <li>무제한 단축 URL</li>
                <li>통계 데이터 센터</li>
                <li>커스텀 도메인</li>
                <li>영원히 단축 URL 지속</li>
                <li>이메일 지원</li>
              </ul>
            </div>
            <div class="card-footer">
              <button type="button" class="w-100 btn btn-lg btn-primary">7일 무료!</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="{% static 'logo.png' %}" alt="" width="30">
          <small class="d-block mb-3 text-muted">© 2021</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
